@import "tailwindcss";

:root {
  --primary-clr: #1F303F;
  --secondary-clr: #BCC4EA;
  --third-clr: #0E1628;
  --forth-clr: #3F5074;
  --accent-clr: #d4d4d4;
}

@theme inline {
  --color-primary: var(--primary-clr);
  --color-secondary: var(--secondary-clr);
  --color-third: var(--third-clr);
  --color-forth: var(--forth-clr);
  --color-accent: var(--accent-clr);
}

body {
  background: radial-gradient(circle at center, var(--color-forth) 0%, var(--color-third) 85%, #0a0f1a 100%);
  color: var(--accent-clr);
  font-family: Arial, Helvetica, sans-serif;
  size: 2rem;
}
