@import "tailwindcss";

:root {
  --primary-clr: #1F303F;
  --secondary-clr: #BCC4EA;
  --third-clr: #0E1628;
  --fourth-clr: #3F5074;
  --fifth-clr: #06033a;
  --sixth-clr: #0004ff;
  --accent-clr: #d4d4d4;
  --font-color: #ffffff;
}

@theme inline {
  --color-primary: var(--primary-clr);
  --color-secondary: var(--secondary-clr);
  --color-third: var(--third-clr);
  --color-fourth: var(--fourth-clr);
  --color-fifth: var(--fifth-clr);
  --color-sixth: var(--sixth-clr);
  --color-accent: var(--accent-clr);
  --color-font: var(--font-color);
}

body {
  color: var(--color-font);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: default;
}
